dotenv
langchain
openai
faiss-cpu
tiktoken
crewai
crewai-tools
langchain-community
langchain-core
langchain-huggingface
streamlit
pandas
sentence-transformers
torchvision
geopy
requests
psutil
python-dotenv
pytest